<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6afbd40c-0dde-45e0-b4b9-b044e51c0212" name="Working with Users" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6afbd40c-0dde-45e0-b4b9-b044e51c0212fileName">Working-with-Users</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
